Repository aristanetworks/atd-public, pull requests merged in 2019-07, with the labels that each got.

#62 Add new lab guide images and update Lab RST file
  .gitignore
  topologies/routing/labguides/source/RATD.rst
  topologies/routing/labguides/source/images/RATD-Section1+2-Image.png
  topologies/routing/labguides/source/images/RATD-Section10-Image.png
  topologies/routing/labguides/source/images/RATD-Section11+12-Image.png
  topologies/routing/labguides/source/images/RATD-Section13-Image.png
  topologies/routing/labguides/source/images/RATD-Section3-Image.png
  topologies/routing/labguides/source/images/RATD-Section4+5+6+7-Image.png
  topologies/routing/labguides/source/images/RATD-Section8+9.png
  topologies/routing/labguides/source/images/RATD-Topo-Image.png
  topologies/routing/labguides/source/images/RATD_Section9_Task_D_EOS3.png
  topologies/routing/labguides/source/images/RATD_Section9_Task_D_EOS6.png
Labels: Routing Topo, docs, labvm

#63 fix issue #s 20 24 61
  topologies/datacenter/labguides/source/cvp_cc.rst
  topologies/datacenter/labguides/source/images/connecting_1.png
  topologies/datacenter/labguides/source/l3ls.rst
  topologies/datacenter/labguides/source/programmability_connecting.rst
Labels: Datacenter Topo, docs

#64 added L3LS verification enhancement
  topologies/datacenter/labguides/source/l3ls.rst
Labels: Datacenter Topo, docs, enhancement
