Repository aristanetworks/atd-public, pull requests merged in 2019-06, with the labels that each got.

#36 Initial RATD LabGuide RST and Image Files
  topologies/routing/labguides/source/RATD.rst
  topologies/routing/labguides/source/ansible_adhoc_and_simple_playbooks.rst
  topologies/routing/labguides/source/ansible_and_jinja_templates.rst
  topologies/routing/labguides/source/command_api.rst
  topologies/routing/labguides/source/cvp_cc.rst
  topologies/routing/labguides/source/cvp_configlet.rst
  topologies/routing/labguides/source/cvx.rst
  topologies/routing/labguides/source/day2_operations.rst
  topologies/routing/labguides/source/eapi.rst
  topologies/routing/labguides/source/images/RATD_Section6_Task_D.png
  topologies/routing/labguides/source/images/RATD_Section6_Task_E.png
  topologies/routing/labguides/source/images/RATD_Section7_Task_C.png
  topologies/routing/labguides/source/images/RATD_Section9_Task_D_EOS3.png
  topologies/routing/labguides/source/images/RATD_Section9_Task_D_EOS6.png
  topologies/routing/labguides/source/images/RATDv7-Topo.png
  topologies/routing/labguides/source/index.rst
  topologies/routing/labguides/source/l2evpn.rst
  topologies/routing/labguides/source/l3evpn.rst
  topologies/routing/labguides/source/l3ls.rst
  topologies/routing/labguides/source/media-IP_Intro.rst
  topologies/routing/labguides/source/media-STP_SVI.rst
  topologies/routing/labguides/source/media-bgp.rst
  topologies/routing/labguides/source/media-multicast.rst
  topologies/routing/labguides/source/media-ospf.rst
  topologies/routing/labguides/source/mlag.rst
  topologies/routing/labguides/source/programmability_connecting.rst
  topologies/routing/labguides/source/pyeapi.rst
  topologies/routing/labguides/source/rollback.rst
  topologies/routing/labguides/source/vxlan.rst
Labels: Routing Topo

#38 Add cvp_info.yml to RATD
  topologies/routing/configlets/AAA
  topologies/routing/files/cvp/cvp_info.yaml
Labels: Routing Topo

#43 Moving DC topo image to topologies and standardized name
  topologies/datacenter/atd-topo.png
Labels: Datacenter Topo

#47 Corrected device count var
  topologies/all/login.py
Labels: Datacenter Topo, bug, labvm

#44 Service patch
  labvm/services/atdFiles/atdFiles.service
  labvm/services/gitConfigletSync/gitConfigletSync.service
Labels: labvm, service scripts

#48 Create Routing ATD atd-topo.png
  topologies/routing/atd-topo.png
Labels: Routing Topo

#50 Create RATD screenrc
  topologies/routing/files/.screenrc
Labels: Routing Topo

#49 Adding BaseIPv4 to standard routing configlet
  topologies/all/ConfigureTopology.py
Labels: Routing Topo, bug, labvm

#39 Create RATD MenuOptions.yaml
  topologies/routing/files/MenuOptions.yaml
Labels: Routing Topo

#51 Cvp updater
  labvm/services/atdFiles/atdFiles.sh
  labvm/services/cvpUpdater/cvpUpdater.py
  labvm/services/cvpUpdater/cvpUpdater.service
  labvm/services/serviceUpdater.yml
  topologies/datacenter/configlets/AAA
  topologies/datacenter/configlets/Add_Loopbacks.py
  topologies/datacenter/configlets/L3LS and VARP Builder.py
  topologies/datacenter/configlets/L3LS and VXLAN Builder.py
  topologies/datacenter/configlets/Leaf1-BGP-Lab
  topologies/datacenter/configlets/Leaf1-L2EVPN-Lab
  topologies/datacenter/configlets/Leaf1-L3EVPN-Lab
  topologies/datacenter/configlets/Leaf1-MLAG-Lab
  topologies/datacenter/configlets/Leaf1-VXLAN-Lab
  topologies/datacenter/configlets/Leaf1-cvx01-Controller
  topologies/datacenter/configlets/Leaf2-BGP-Lab
  topologies/datacenter/configlets/Leaf2-L2EVPN-Lab
  topologies/datacenter/configlets/Leaf2-L3EVPN-Lab
  topologies/datacenter/configlets/Leaf2-MLAG-Lab
  topologies/datacenter/configlets/Leaf2-VXLAN-Lab
  topologies/datacenter/configlets/Leaf2-cvx01-Controller
  topologies/datacenter/configlets/Leaf3-BGP-Lab
  topologies/datacenter/configlets/Leaf3-L2EVPN-Lab
  topologies/datacenter/configlets/Leaf3-L3EVPN-Lab
  topologies/datacenter/configlets/Leaf3-MLAG-Lab
  topologies/datacenter/configlets/Leaf3-VXLAN-Lab
  topologies/datacenter/configlets/Leaf3-VXLAN-Lab-Full
  topologies/datacenter/configlets/Leaf3-cvx01-Controller
  topologies/datacenter/configlets/Leaf4-BGP-Lab
  topologies/datacenter/configlets/Leaf4-BGP-Lab-Full
  topologies/datacenter/configlets/Leaf4-L2EVPN-Lab
  topologies/datacenter/configlets/Leaf4-L3EVPN-Lab
  topologies/datacenter/configlets/Leaf4-MLAG-Lab
  topologies/datacenter/configlets/Leaf4-VXLAN-Lab
  topologies/datacenter/configlets/Leaf4-cvx01-Controller
  topologies/datacenter/configlets/MLAG and VARP Builder.py
  topologies/datacenter/configlets/SYS_BaseConfig.py
  topologies/datacenter/configlets/SYS_TelemetryBuilder.py
  topologies/datacenter/configlets/SYS_TelemetryBuilderV2.py
  topologies/datacenter/configlets/Spine1-BGP-Lab
  topologies/datacenter/configlets/Spine1-L2EVPN-Lab
  topologies/datacenter/configlets/Spine1-L3EVPN-Lab
  topologies/datacenter/configlets/Spine1-MLAG-Lab
  topologies/datacenter/configlets/Spine2-BGP-Lab
  topologies/datacenter/configlets/Spine2-L2EVPN-Lab
  topologies/datacenter/configlets/Spine2-L3EVPN-Lab
  topologies/datacenter/configlets/Spine2-MLAG-Lab
  topologies/datacenter/configlets/VLANs
  topologies/datacenter/configlets/VMTracer
  topologies/datacenter/configlets/cvx01-Controller
  topologies/datacenter/files/.cvpState.txt
  topologies/datacenter/files/cvp/cvp_info.yaml
  topologies/routing/files/cvp/cvp_info.yaml
Labels: enhancement, labvm, service scripts

#52 Update RATDv7-Topo.png
  topologies/routing/labguides/source/images/RATDv7-Topo.png
Labels: Routing Topo

#59 Fix RATD Connecting Lab Guide Images
  topologies/routing/labguides/source/images/connecting_1.png
  topologies/routing/labguides/source/images/cvp_configlet1.png
Labels: Routing Topo, bug, labvm
