Repository aristanetworks/atd-public, pull requests merged in 2020-02, with the labels that each got.

#122 updated labguides for programmability section
  topologies/datacenter-latest/labguides/source/ansible_and_jinja_templates.rst
  topologies/datacenter-latest/labguides/source/day2_operations.rst
  topologies/datacenter-latest/labguides/source/images/programmability_connecting_3.png
  topologies/datacenter-latest/labguides/source/programmability_connecting.rst
  topologies/datacenter-latest/labguides/source/rollback.rst
Labels: DC-Latest Topo, docs

#123 Topo ver updates
  topologies/datacenter-latest/Datacenter.yml
  topologies/routing/Routing.yml
Labels: DC-Latest Topo, Routing Topo, enhancement

#118 Patch conf topo reset
  topologies/all/ConfigureTopology.py
Labels: DC-Latest Topo, Datacenter Topo, Routing Topo, bug, labvm

#116 Patch media latest
  topologies/datacenter-latest/configlets/Host1-Media
  topologies/datacenter-latest/configlets/Host2-Media
  topologies/datacenter-latest/files/Broadcaster/Broadcaster.zip
  topologies/datacenter-latest/files/Broadcaster/GetFiles.sh
  topologies/datacenter-latest/files/Broadcaster/configletPushToCVP.sh
  topologies/datacenter-latest/files/Broadcaster/default-host1.cfg
  topologies/datacenter-latest/files/Broadcaster/default-host2.cfg
  topologies/datacenter-latest/files/Broadcaster/media-host1.cfg
  topologies/datacenter-latest/files/Broadcaster/media-host2.cfg
  topologies/datacenter-latest/files/Broadcaster/media.py
  topologies/datacenter-latest/files/Broadcaster/pushHostDefaultConfig.sh
  topologies/datacenter-latest/files/Broadcaster/pushHostMediaConfig.sh
  topologies/datacenter-latest/files/MenuOptions.yaml
  topologies/datacenter-latest/labguides/source/media-IP_Intro.rst
  topologies/datacenter-latest/labguides/source/media-STP_SVI.rst
  topologies/datacenter-latest/labguides/source/media-bgp.rst
  topologies/datacenter-latest/labguides/source/media-multicast.rst
  topologies/datacenter-latest/labguides/source/media-ospf.rst
  topologies/datacenter/files/Broadcaster/default-host1.cfg
  topologies/datacenter/files/Broadcaster/default-host2.cfg
  topologies/datacenter/files/Broadcaster/media-host1.cfg
  topologies/datacenter/files/Broadcaster/media-host2.cfg
  topologies/datacenter/labguides/source/media-IP_Intro.rst
  topologies/datacenter/labguides/source/media-STP_SVI.rst
  topologies/datacenter/labguides/source/media-bgp.rst
  topologies/datacenter/labguides/source/media-multicast.rst
  topologies/datacenter/labguides/source/media-ospf.rst
Labels: DC-Latest Topo, configlets, docs

#80 requiring cvpUpdater to complete before config sync
  labvm/services/gitConfigletSync/gitConfigletSync.service
Labels: bug, service scripts

#127 increased timeout for cvpUpdater to 15 minutes
  labvm/services/cvpUpdater/cvpUpdater.service
Labels: bug, service scripts

#128 Patch labguides rm - Closing Issue 124
  topologies/datacenter-latest/files/veos-patch.sh
  topologies/datacenter-latest/labguides/source/cvp_cc.rst
  topologies/datacenter-latest/labguides/source/cvx.rst
  topologies/datacenter-latest/labguides/source/l2evpn.rst
  topologies/datacenter-latest/labguides/source/l3evpn.rst
Labels: DC-Latest Topo

#131 fixed service script requirements field and disabling timeouts
  labvm/services/atdFiles/atdFiles.service
  labvm/services/atdServiceUpdater/atdServiceUpdater.service
  labvm/services/cvpUpdater/cvpUpdater.service
  labvm/services/gitConfigletSync/gitConfigletSync.service
  labvm/services/sslUpdater/sslUpdater.service
Labels: DC-Latest Topo, Datacenter Topo, Routing Topo, bug, service scripts

#133 Further Updates to RATD Configlets and Options
  topologies/routing/configlets/ATD-INFRA
  topologies/routing/configlets/BaseIPv4_EOS1
  topologies/routing/configlets/BaseIPv4_EOS10
  topologies/routing/configlets/BaseIPv4_EOS11
  topologies/routing/configlets/BaseIPv4_EOS12
  topologies/routing/configlets/BaseIPv4_EOS13
  topologies/routing/configlets/BaseIPv4_EOS14
  topologies/routing/configlets/BaseIPv4_EOS15
  topologies/routing/configlets/BaseIPv4_EOS16
  topologies/routing/configlets/BaseIPv4_EOS17
  topologies/routing/configlets/BaseIPv4_EOS18
  topologies/routing/configlets/BaseIPv4_EOS19
  topologies/routing/configlets/BaseIPv4_EOS1_RING
  topologies/routing/configlets/BaseIPv4_EOS2
  topologies/routing/configlets/BaseIPv4_EOS20
  topologies/routing/configlets/BaseIPv4_EOS2_RING
  topologies/routing/configlets/BaseIPv4_EOS3
  topologies/routing/configlets/BaseIPv4_EOS3_RING
  topologies/routing/configlets/BaseIPv4_EOS4
  topologies/routing/configlets/BaseIPv4_EOS4_RING
  topologies/routing/configlets/BaseIPv4_EOS5
  topologies/routing/configlets/BaseIPv4_EOS5_RING
  topologies/routing/configlets/BaseIPv4_EOS6
  topologies/routing/configlets/BaseIPv4_EOS6_RING
  topologies/routing/configlets/BaseIPv4_EOS7
  topologies/routing/configlets/BaseIPv4_EOS8
  topologies/routing/configlets/BaseIPv4_EOS9
  topologies/routing/configlets/Customer3_E-LINE_EOS1
  topologies/routing/configlets/Customer3_E-LINE_EOS4
  topologies/routing/configlets/SharedServices_EOS3
  topologies/routing/files/MenuOptions.yaml
Labels: Routing Topo, bug, configlets

#138 fixed config syntax in host cfgs for media labs
  topologies/datacenter/files/Broadcaster/default-host1.cfg
  topologies/datacenter/files/Broadcaster/default-host2.cfg
  topologies/datacenter/files/Broadcaster/media-host1.cfg
  topologies/datacenter/files/Broadcaster/media-host2.cfg
Labels: Datacenter Topo, bug
